.main
    .header
        i.fas.fa-power-off
        i.fas.fa-chart-line(style='display: none;')
        i.fas.fa-cog
        h1.count 0
        p Opened websites on blacklist today

    .content
        .list
        input(type='text' placeholder='Website' spellcheck='false')
        a(href='#').submit
            i.fas.fa-bookmark
            | Blacklist