.stats.page
    .header
        i.fas.fa-arrow-left
        h1 Settings
    .content
        .item
            h2 Instagram
            .switch
                label
                    | Default
                    input.checkbox(type='checkbox')
                    span.lever
                    | Filtered
        .item
            h2 YouTube
            .switch
                label
                    | Default
                    input.checkbox(type='checkbox')
                    span.lever
                    | Filtered
            a(href='#').allow.invisible
                i.fas.fa-bookmark
                | Allow